body{
background-color: rgb(30, 110, 61);


}
.container{

    display:inline-block;
    width: 200px;
    height: 200px;
    
}

.profil{
background-image: url("profil.jpeg");
background-repeat: no-repeat;
background-size: cover;
/* margin-left: 180px;
margin-top: 10px; */
width: 260px;
height: 330px;
background-color: blueviolet;
display: inline-block;

}

.na{
border-style: double



}

.ommig{

text-align: right;
/* align-items: flex-start; */
/* margin-right: 50px;
margin-top: 40px; */
}

.kurser{

    text-align: right;
    /* margin-right: 50px; */
}

.Fritidsintressen{

    text-align: right;
    /* margin-right: 50px; */


}

.na{

margin-bottom: 90px;

}