body{
    background-color: rgb(30, 110, 61);
    
    
    }

    .gym{

    background-image: url("gym.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 150px;
    margin-right: 50px;
    margin-top: 50px;
    background-color: blueviolet;
    }


.paddles{

background-image: url("padel.jpeg");
background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 150px;
    margin-right: 50px;
    margin-top: 50px;
    background-color: blueviolet;
    }


    